body {
    font-family: sans-serif;
    font-size: 12px;
    color: #A4A4A4;

}

.background {
    background: url("../images/htmlemail.png") no-repeat;
    border: 1px solid #D9D9D9;
    width: 549px;
    margin-left: 10px;
}

h1{
    color: rgb(36, 119, 156);
    font-size: 34px;
    font-weight: inherit;
    /*margin-left: 32px;*/
    word-spacing: -1px;
    letter-spacing: -1px;
    margin-top: 24px;
    float: left;
}

h5{
    color: rgb(36, 119, 156);
    font-size: 14px;
    font-weight: inherit;
    float: right;
    margin: 42px 1px 0 0;
}

header {
    border-bottom: 1px solid #D9D9D9;
    width: 488px;
    margin: 0 0 0 30px;
    display: inline-block;
    height: 83px;
}

article{
    width: 488px;
    display: inline-block;
    /* border: 1px solid #ff0000; */
    margin-left: 30px;
    margin-top: 6px;
}

article>p{
    /* border: 1px solid #ff0000; */
    /* margin-left: 30px; */
    /* margin-top: 7px; */
    line-height: 18px;
    /* margin: 3px 0; */
    /* padding: 0px; */
    margin-bottom: 18px;
}

footer{
    border-top: 1px solid #D9D9D9;
    margin-left: 30px;
    width: 488px;
    margin-top: 4px;
    padding-top: 8px;
    margin-bottom: 21px;
    /*background: url("../images/sprite0.png") no-repeat;*/
}

footer>p{
    color: red;
    /* line-height: 6px; */
    margin: 5px 0px;
}

/*.logo {*/
    /*background: url("../images/sprite0.png") 0 0;*/

/*}*/

/*.date{*/
    /*background: url("../images/sprite0.png") 0 0;*/

/*}*/

.email{
    background-image: url("../images/sprite0.png");
    background-repeat: no-repeat;
    background-position: -60px 0px;
}

p.icon-email:before{
    display: block;
    background-image: url("../images/sprite0.png");
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}