html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	@extend html;
}
form{
	input:required{
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANElEQVQYV2NkIBIwEqmOYSAV/mdg+A+0nxGdRnc72I0gRTAJkCZsHgSbhEU3hmLSTCTGjQATWRILGfBMGwAAAABJRU5ErkJggg==) right top no-repeat;
	}
	legend {
		margin-bottom: 0.2em;
	}
}
@media (max-width: 767px) {
	.form-group > div {
		margin-bottom: 0.5em;
	}
	.form-group {
		margin-bottom: 0;
	}
}